@font-face {
    font-family: 'Inter';
    src: url(font/Inter-Regular.otf);
}

@font-face {
    font-family: 'InterBold';
    src: url(font/Inter-Bold.otf);
}

:root {
    --grey: #9CA4AB;
}

body {
    background-color: #000;
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: 'Inter', sans-serif;
}

.hero {
    background-image:
    linear-gradient(to top, rgba(0, 0, 0, 1), transparent 50%),
    linear-gradient(to bottom, rgba(0, 0, 0, 1), transparent 50%),
    url('./images/image/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
    width: 100%;
    height: 700px;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 20px 0;
    
}

.header__menu{
    display: flex;
    list-style: none;
    gap: 30px;
    padding: 0;
}

.menu__item{
    text-decoration: none;
    color: #fff;

}

.active {
    font-family: 'InterBold', sans-serif;
}

.buttons {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* Конец меню */

.movie_info {
    margin: 350px 100px 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cta {
    margin-top: 170px;
    display: flex;
}

.season_info {
    font-size: 12px;
    width: max-content;
    padding: 10px;
    background-color: #000;
    border-radius: 10px;
}

.movie_title {
    font-family: 'InterBold', sans-serif;
    margin: 0;
}

.movie_description {
    color: var(--grey);
    font-size: 14px;
}

.movie__buttons,
.cta{
    display: flex;
    gap: 30px;
}

.continue,
.add,
.download,
.share,
.like {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-radius: 10px;
    gap: 5px;
}

.button_continue,
.button_add,
.button_download,
.button_share,
.button_like {
    text-decoration: none;
    color: #fff;
}

.continue {
    background-color: #00925D;
}

.add,
.download,
.share,
.like {
    background-color: #000;
    border: 1px solid #fff;
}

/* ИНФОРМАЦИЯ КОНЕЦ */


.movie_information {
    margin-left: 100px;
}

.story_description{
    margin-right: 100px;
    color: var(--grey);
}

.stream_brand {
    display: flex;
    gap: 30px;
    justify-content: space-around;
    margin-right: 100px;
}

.persona{
    display: flex;
    align-items: center;
    gap: 10px;
}

.persona__name,
.persona__character {
    margin: 0;
}

.persona__character {
    color: var(--grey);
    font-size: 12px;
}

